.tweet {
  background-color: white;
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  border-radius: 5px;
  margin-top: 0.5em;
  opacity: 0.5;
}

.tweet .tweet-header {
  background-color: #eee;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.tweet .tweet-header img {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  margin: 0.5em 0.5em;
}

.tweet .tweet-author {
  margin-top: 0.15em;
  font-size: 2em;
  flex-grow: 2;
  font-weight: bold;
}

.tweet .tweet-mention {
  margin-top: 1em;
  margin-right: 0.5em;
  font-size: 1em;
}

.tweet .tweet-body {
  word-wrap: normal;
  margin: 1em 1em;
  word-wrap: break-word;
}

.tweet hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 0.08em solid #eee;
  margin: 0 0;
  padding: 0;
}

.tweet .tweet-footer {
  padding: 0.5em 0.5em;
  height: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tweet .tweet-date {
  font-size: 0.9em;
  flex-grow: 1;
}

.tweet .fa {
  font-size: 18px;
  color: #00a087;
  margin: 0 2px;
  display: none;
}

.tweet:hover {
  opacity: 1;
}

.tweet:hover .fa {
  display: inline;
}

.tweet .fa-heart.liked-tweet {
  color: red;
}
