<!DOCTYPE html>
<html lang="en">

<nav class="nav-bar">
    <img class="logo" id="logo" src="/images/bird.png">
    <span class="header">Tweeter</span>

    <% let user_id = cookie.user_id; %>
        <% if (user_id === undefined) { %>
            <span class="login-button">Login</span>
            <span class="register-button">Register</span>
            <% } else { %>
                <span class="compose-button">
                    <i class="fa fa-edit"></i> Compose</span>
                <span class="logout-button">Logout</span>
                <% } %>
</nav>