<!DOCTYPE html>
<html lang="en">

<h1>Register</h1>

<form action="/users/register" method="POST">
    Handle:
    <input id="handle" type="text" name="handle" placeholder="Handle"> Password:
    <input id="password" type="password" name="password" placeholder="Password"> Avatar:
    <input id="avatar" type="text" name="avatar" placeholder="Avatar">
    <input type="submit" value="Submit">
</form>