.new-tweet {
    background-color: #eee;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    border-radius: 5px;
    padding: 0.5em 0.5em;
    overflow: hidden;
}

.new-tweet h2 {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
}

.new-tweet hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 0.08em solid black;
    margin: 0 0 1em;
    padding: 0;
}

.new-tweet form {
    width: auto;
    margin: 0;
}

.new-tweet textarea {
    display: block;
    padding: 0.25em;
    width: 100%;
}

.new-tweet textarea:hover {
    box-shadow: 0 0 0 2px #86BAEE;
}

.new-tweet input {
    margin-top: 5px;
    float: left;
}

.new-tweet input:hover {
    box-shadow: 0 0 0 2px #86BAEE;
}

.new-tweet .counter {
    float: right;
    font-size: 10pt;
    margin: 0.5em auto;
    font-style: italic;
}